.button {
    background-color: #0198B1;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.button-medium {
    background-color: #0198B1;
    padding: 5px 100px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 253, 253);
}

.button:hover {
    background-color: #aaeffc;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(88, 88, 88);
}

.button-medium:hover {
    background-color: #aaeffc;
    padding: 5px 100px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}