@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 85.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}




.page {
  display: flex;
  margin-top: 20px;
}

.page .row {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-right: 2px;
}

.page .row .col {
  margin-bottom: 2px;
}




.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(235, 235, 235);
  max-width: 900px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 5px;
  border: none;
}

.card:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(105, 105, 105);
}


.card .date {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90px;
}

.card .date p,h1 {
  margin: 0;
  padding:0;
}

.card-body {
  display: flex;  
  flex-direction: column;
}

.head {
  display: flex;
  color: #fff;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(102, 102, 102);
  padding: 10px;
}

  
.head button {
  display: none;
  position: relative;
}

.diary-page {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
}

.diary {
  display: flex;
  align-items: center;
}



.diary-page .utility {
  display: flex;
  justify-content: space-between;
}


.diary-page .diary .diary-body {

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;


}





button {
  color: white;
  padding: 5px 14px;
  margin: 0px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* FORM INPUT */
.edit-form {
  width:50%;
}

.form textarea[type=text], select , input ,.edit-form textarea[type=text], select , input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form input[type=submit],.edit-form input[type=submit] {
  width: 100%;
  background-color: #32cf37;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type=submit]:hover ,.edit-form input[type=submit]:hover {
  background-color: #45a049;
}


.form,.edit-form {
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}




@media (min-width: 900px) {
  
}
@media (max-width: 700px) {
  .head {
    justify-content: space-between;
  }
  .head button {
    display: block;
    z-index: 1;
  }
  .page ,.page .row,.page .row .col{
    padding: 0;
    margin: 5px 0px;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
  }

  .formParent.active {
    opacity: 1;
    left: 0;
  }  

  
  
  .formParent {
    position: fixed;
    left: 100%;
    top: 0;


  }

  .diary{
    flex-direction: column;
    padding: 10px;
  }

  .diary-page .diary .diary-body {
    padding: 10px;
    width: 100%;
    height: 200px;
  }
  

  .diary .edit-form {
    order: 1;
  }

  .edit-form {
    width: 100%;
  }

}