@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.page {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(255, 118, 118);
  width: 90%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(235, 235, 235);
  max-width: 900px;
  height: 900px;
}

.card {
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  width: 300px;
  margin: 10px;
}

.head {
  border: 1px solid #000;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 90%;
}


@media (max-width: 900px) {

}