@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.page {
  display: flex;
  margin-top: 20px;
  padding: 20px;
}

.page .row {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.page .row .col {
  margin: 5px;
}




.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(235, 235, 235);
  max-width: 900px;
}

.card {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  color: rgb(49, 49, 49);
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border: none;
}

.card:hover {
  color: rgb(0, 0, 0);
}

.card span {
  margin: 10px;
  height: 100;
  border-left: 1px solid #000;
}

.card .date {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card .date p,h1 {
  margin: 0;
  padding:0;
}

.head {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(102, 102, 102);
  padding: 10px;
}

.diary-page {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
}

.diary {
  display: flex;
  align-items: center;
}



.diary-page .utility {
  display: flex;
  justify-content: space-between;
}


.diary-page .diary .diary-body {

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;


}





button {
  color: white;
  padding: 5px 14px;
  margin: 0px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* FORM INPUT */

.edit-form {
  width:50%;
}

.form textarea[type=text], select , input ,.edit-form textarea[type=text], select , input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form input[type=submit],.edit-form input[type=submit] {
  width: 100%;
  background-color: #32cf37;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type=submit]:hover ,.edit-form input[type=submit]:hover {
  background-color: #45a049;
}

.formParent {
  margin: 10px;
  padding: 5px;
}

.form,.edit-form {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
}


@media (min-width: 900px) {
  
}
@media (max-width: 700px) {
  .diary{
    flex-direction: column;
    padding: 10px;
  }

  .diary-page .diary .diary-body {
    padding: 10px;
    width: 100%;
    height: 200px;
  }
  

  .diary .edit-form {
    order: 1;
  }

  .edit-form {
    width: 100%;
  }

}